.container {
  width: 7.5rem;
  margin: 0 auto;
  background-color: #f4f4f4;
  min-height: 100%;
}
.wrap {
  width: 6.6rem;
  margin: 0 auto;
}
.header {
  line-height: .8rem;
  color: #fff;
  font-size: .34rem;
  background: #ff5a5a;
  text-align: center;
}
.header img {
  float: left;
  width: .2rem;
  height: .36rem;
  margin-top: .22rem;
}
.a-item .date {
  height: .8rem;
  padding: 0 .3rem;
  color: #666;
  line-height: .8rem;
  font-size: .26rem;
}
.a-item .list li .center {
  float: left;
}
.a-item .list li .center span {
  font-size: .3rem;
  color: #333;
}
.a-item .list li .right {
  float: right;
}
.a-item .list li .right span {
  color: #ff5a5a;
}
.a-item .list li .footer {
  height: .8rem;
  border-top: 1px solid #eeeeee;
  line-height: .8rem;
  margin-top: .3rem;
  color: #666666;
}
.a-item .list li .footer .left {
  float: left;
  width: 50%;
}
.a-item .list li .footer .left span {
  color: #333;
}
.a-item .list li .footer .right {
  float: right;
  width: 50%;
  text-align: right;
}
.a-item .list li .footer .right span {
  color: #333;
}
.a-item .list li {
  overflow: hidden;
  height: 3.08rem;
  font-size: .22rem;
  padding: 0 .3rem;
  margin-bottom: .1rem;
  background-color: #fff;
}
.a-item li h5 {
  margin-top: .24rem ;
  font-size: .24rem;
}
.a-item li h5 i {
  display: inline-block;
  padding: 0 .1rem;
  line-height: .32rem;
  border: 1px dashed #a4a8b1;
  border-radius: .16rem;
  vertical-align: middle;
  font-size: .16rem;
  text-align: center;
  color: #5589c5;
  font-weight: normal;
  margin-left: .16rem;
}
.a-item li:first-child {
  border-top: none ;
}
.a-item li .detail {
  display: block;
  color: #8b8b8b;
  margin-top: .24rem;
  line-height: .48rem;
}
.a-item li .detail .left {
  float: left;
  height: .8rem;
  width: 2.56rem;
  border-right: 1px solid #f8f8f8;
}
.a-item li .detail .left span {
  font-size: .3rem;
  color: #333;
}
