.container{
    width: 7.5rem;
    margin: 0 auto;
    background-color: #f4f4f4;
    min-height: 100%;
}
.wrap{
    width:6.6rem;
    margin:0 auto;
}
.header{
    line-height: .8rem;
    color: #fff;
    font-size: .34rem;
    background: #ff5a5a;
    text-align: center;
}
.header img{
    float: left;
    width: .2rem;
    height: .36rem;
    margin-top: .22rem;
}
.tit{
    height: .8rem;
    padding: 0 .3rem;
    color: #666;
    line-height: .8rem;
    font-size: .26rem;
}
.count{
    height:1.05rem;
    background: #fff;
    border-bottom: 1px solid #eeeeee;
    line-height: 1.2rem;
    padding: 0 .3rem ;
    font-size: .26rem;
}
.count i{
    font-size: .46rem;
    /*font-weight: bold;*/
}
.count input{
    height: .6rem;
    font-size: .3rem;
    vertical-align: middle;
    padding: 0;
    border: 0;
    outline: 0;
    margin-top: -.1rem;
    color: #ff5a5a;
}
.count a{
    line-height: 1.05rem;
    float: right;
}
.rest{
    height:1.05rem;
    background: #fff;
    line-height: 1.05rem;
    padding: 0 .3rem ;
    font-size: .26rem;
    color: #666;
}
.rest span{
    color: #999;
}
.rest a{
    float: right;
    color: #f44b2e;
}
.detail{
    background: #fff;
    display:-webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    margin-top: .3rem;
}
.detail a{
    width: 40%;
    padding: .3rem .2rem;
   -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    font-size: .22rem;
    color: #999;
}
.detail a img{
  float: left;
    width: .56rem;
    height: .56rem;
    margin-right: .2rem;
    margin-top: .1rem;
}
.detail a span{
    font-size: .28rem;
    color: #333;
}
.confirm{
    text-align: center;
    margin-top: 1.25rem;
    color: #666;
    font-size: .26rem;
    line-height: .5rem;
}
.confirm i{
    display: inline-block;
    width: .28rem;
    height: .28rem;
    background: url("../images/icon-default.png") no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
    margin-right: .1rem;
}
.confirm i.checked{
    background: url("../images/icon-checked.png") no-repeat;
    background-size: 100% 100%;
}

.nav-bar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1rem;
}
.nav-bar .wrap{
    /* width: 3.3rem;*/
    text-align: center;
    line-height: 1rem;
}
.nav-bar .wrap a{
    display:inline-block;
    width: 80%;
    height: .8rem;
    background: -moz-linear-gradient(#fe7c6e,#ff464f);
    background: -webkit-linear-gradient(#fe7c6e,#ff464f);
    background: -ms-linear-gradient(#fe7c6e,#ff464f);
    background: -o-linear-gradient(#fe7c6e,#ff464f);
    background: linear-gradient(#fe7c6e,#ff464f);
border-radius: .4rem;
    text-align: center;
    line-height: .8rem;
    color: #fff;
    font-size: .3rem;
    box-shadow: 0 2px .05rem #999;
}
.footer{
    height: .96rem;
}
/*确认提示框*/
.confirm-model{
     display: none;
     position: fixed;
     top:0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0,0,0,.2);
 }
.confirm-model .box{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -3.4rem;
    margin-top: -1.4rem;
    width: 6.8rem;
    height: 2.8rem;
    background: #fff;
    border-radius: 5px;
    text-align: center;
}
.confirm-model h4{
    font-size: .3rem;
    line-height: 1.2rem;
}
.confirm-model .msg{
    font-size: .3rem;
    color: #999999;
}
.confirm-model .btn{
    position: absolute;
    border-bottom: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #b0b0b0;
}
.confirm-model a{
    float: left;
    width: 50%;
    line-height: 3;
    font-size: .24rem;
    color: #5589c5;
    box-sizing: border-box;
}
.confirm-model a:nth-child(1){
    border-right: 1px solid #b0b0b0;
}
/*alert*/
.alert-model{
    display: block;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.2);
}
.alert-model .box{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -3.4rem;
    margin-top: -1.4rem;
    width: 6.8rem;
    height: 2.8rem;
    background: #fff;
    border-radius: 5px;
    text-align: center;
}
.alert-model h4{
    font-size: .3rem;
    line-height: 1.2rem;
}
.alert-model .msg{
    font-size: .3rem;
    color: #999999;
}
.alert-model .btn{
    position: absolute;
    border-bottom: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #b0b0b0;
}
.alert-model a{
    display: block;
    width: 60%;
    margin: 0 auto;
    line-height: 3;
    font-size: .24rem;
    color: #5589c5;
    box-sizing: border-box;
}

/*xieyi*/
.xieyi{
    display: none;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.2);
}
.xieyi .box{
    width: 7.2rem;
    background-color: #ffffff;
    margin: .7rem auto;
    height: 90%;
}
.xieyi .box .close{
    position: relative;
    top:-.2rem;
    right: -.1rem;
    width: .6rem;
    height: .6rem;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    line-height: .6rem;
    text-align: center;
    border-radius: 50%;
    float: right;
    font-size: .4rem;
}
.xieyi .box h5{
    text-align: center;
    line-height: 3;
}
.xieyi .box p{
    text-indent: 2em;
}