.container{
    width: 7.5rem;
    margin: 0 auto;
    background-color: #fff;
    min-height: 100%;
}
.wrap{
    width:6.6rem;
    margin:0 auto;
}
.header{
    height: .8rem;
    background-color: #f34533;
}
.header h2{
    font-size: .3rem;
    line-height: .8rem;
    color: #fff;
    font-weight: normal;
    text-align: center;
}
.header h2 img{
    width: .2rem;
    height: .36rem;
    float: left;
    margin-top: .22rem;
}
.nav{
    background-color: #f4f4f7;
    line-height: .8rem;
    text-align: center;
}
.nav .pro{
    float: left;
    width: 50%;
}
.nav .cd-pro{
    float: right;
    width: 50%;
}
.nav a{
    font-size: .3rem;
    display: inline-block;
    padding: 0 .3rem;
    border-bottom: .03rem solid transparent;
}
.nav .cur a{
    border-color: #ff5c6c;
    color: #ff5c6c;
}
.recommend{
    background-color: #fff;
}
.recommend h2{
    font-size: .28rem;
    color: #252525;
    line-height: .64rem;
}
.recommend .wrap{
    position: relative;
}
.recommend .list{
   position: absolute;
    top:0;
    left: 0;
    background-color: #fff;
}
.recommend .list li{
    overflow: hidden;
    height: 2.08rem;
    font-size: .22rem;
    border-top: 1px solid #f8f8f8 ;
}
.recommend li h5{
    margin-top:.24rem ;
    font-size: .24rem;
}
.recommend li h5 i{
    display: inline-block;
    padding: 0 .1rem;
    line-height: .32rem;
    border: 1px dashed #a4a8b1;
    border-radius: .16rem;
    vertical-align: middle;
    font-size: .16rem;
    text-align: center;
    color: #5589c5;
    font-weight: normal;
    margin-left: .16rem;
}
.recommend li:first-child{
    border-top: none ;
}
.recommend li .detail{
    display: block;
    color: #8b8b8b;
    margin-top: .24rem;
    line-height: .48rem;
}
.recommend li .detail .left{
    float: left;
    height: .8rem;
    width: 2.56rem;
    border-right: 1px solid #f8f8f8;
}
.recommend li .rate{
    color: #ff5668;
    font-size: .38rem;
}
.recommend li .detail .right{
    float: right;
}
.recommend li .right .time{
    font-size: .28rem;
    color: #5589c5;
}
.recommend li .right .balance{
    font-size: .28rem;
    color: #ff5668;
}
.recommend li .right .progress-bar{
    width: 3rem;
    display: inline-block;
    height: .16rem;
    background-color: #a4a8b1;
    border-radius: .08rem;
    margin-right: .16rem;
    vertical-align: middle;
}
.recommend li .right .progress-bar i{
    width: 40%;
    display: inline-block;
    height: .16rem;
    vertical-align: top;
    border-radius: .08rem;
    background-color: #ff5668;
}
.recommend li.type02 input{
    background-color: #888;
    color: #fff;
    font-size: .2rem;
    text-align: center;
    line-height: .38rem;
    padding: 0 .4rem;
    border: none;
    border-radius: .05rem;
}
.recommend li.type02 .star-time{
    float: right;
}
.recommend li.type03 .balance{
    color: #999999;
}
.recommend li.type03 img{
    width: .9rem;
    height: .8rem;
    margin:-.1rem 0 0 .2rem;
}
.nav-bar{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: .96rem;
}
.nav-bar .wrap{
    /* width: 3.3rem;*/
}
.nav-bar a{
    float: left;
    margin: 0 .8rem;
    font-size: .2rem;
    padding-top: .1rem;
}
.nav-bar a i{
    display: block;
    width: .48rem;
    height: .48rem;
}
.nav-bar .home i{
    background: url("../images/icon-shouye-a.png") no-repeat center;
    background-size: contain;
}
.nav-bar .product i{
    background: url("../images/icon-chanpin-b.png") no-repeat center;
    background-size: contain;
}
.nav-bar .personal i{
    background: url("../images/icon-wode-a.png") no-repeat center;
    background-size: contain;
}
.footer{
    height: .96rem;
}