.container {
  width: 7.5rem;
  margin: 0 auto;
  background-color: #fff;
  min-height: 100%;
}
.wrap {
  width: 6.6rem;
  margin: 0 auto;
}
.header {
  line-height: .8rem;
  color: #fff;
  font-size: .34rem;
  background: #ff5a5a;
  text-align: center;
}
.header .wrap {
  position: relative;
}
.header .wrap .tologin {
  position: absolute;
  right: 0;
  color: #fff;
  text-decoration: underline;
  font-size: .3rem;
}
.header img {
  float: left;
  width: .2rem;
  height: .36rem;
  margin-top: .22rem;
}
.count {
  height: 1.05rem;
  background: #fff;
  border-bottom: 1px solid #eeeeee;
  /*line-height: 1.2rem;*/
  padding: 0 .3rem ;
  font-size: .26rem;
}
.count img {
  width: .4rem;
  height: .4rem;
  margin-top: .2rem;
}
.count input {
  width: 4.6rem;
  height: .6rem;
  font-size: .3rem;
  vertical-align: middle;
  padding: 0;
  border: 0;
  outline: 0;
  /*margin-top: -.1rem;*/
  /*color: #ff5a5a*/
  margin-left: 20px;
  margin-top: .2rem;
}
.count button{
  border: none;
  background-color: #fff;
  padding: 0 .2rem;
  font-size: .24rem;
  line-height: .6rem;
  margin-top: .2rem;
  vertical-align: middle;
}
.btn {
  /* width: 3.3rem;*/
  text-align: center;
  line-height: 1rem;
  margin-top: 1.5rem;
}
.btn a {
  display: inline-block;
  width: 80%;
  height: .8rem;
  background: -moz-linear-gradient(#fe7c6e, #ff464f);
  background: -webkit-linear-gradient(#fe7c6e, #ff464f);
  background: -ms-linear-gradient(#fe7c6e, #ff464f);
  background: -o-linear-gradient(#fe7c6e, #ff464f);
  background: linear-gradient(#fe7c6e, #ff464f);
  border-radius: .4rem;
  text-align: center;
  line-height: .8rem;
  color: #fff;
  font-size: .3rem;
  box-shadow: 0 2px .05rem #999;
}
.confirm {
  text-align: center;
  margin-top: .5rem;
  color: #666;
  font-size: .26rem;
  line-height: .5rem;
}
.confirm a {
  color: #ff5a5a;
}
.confirm i {
  display: inline-block;
  width: .28rem;
  height: .28rem;
  background: url("../images/icon-default.png") no-repeat;
  background-size: 100% 100%;
  vertical-align: middle;
  margin-right: .1rem;
}
.confirm i.checked {
  background: url("../images/icon-checked.png") no-repeat;
  background-size: 100% 100%;
}
.model {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.link {
  text-align: center;
  font-size: .26rem;
  line-height: .6rem;
}
.link span {
  padding: 0 .1rem;
}
.link .register-btn {
  color: #ff5a5a;
}
.model .count {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -0.5rem;
  margin-left: -1.5rem;
  width: 3rem;
  height: 1rem;
  font-size: .5rem;
  text-align: center;
  line-height: 1rem;
  color: #fff;
  background: transparent;
  border: 0;
  padding: 0;
}
.model .count i {
  font-size: 1.4rem;
}
